:root{
    --font-size-default: 1.8rem;
    --border-radius-btn: 3rem;  
    --color-red: #e52f37;
    --color-input: #f9f9f9;
    --border-card: 0.7rem;
    --color-text-grey: #7c8595;
    --color-text-main: #071e55;
    --bgr-color-grey: #f1faff;
    --color-green:  #27b36a;
}


